<!-- 
<div class="row">
    <div class="col-md-12" id="head">
        <h1> Demo Form</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-routingcompo></app-routingcompo>
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- <input type="file" (change)="onFileSelected($event)">
<button type="button" (click)="upload()" >upload</button> -->
<div class="container">
<input type="file" name="file" ng2FileSelect [uploader] = "uploader"  />

<button type="button" (click)="upload()" class="btn btn-danger"  class="btn btn-danger">upload</button><br><br>

<button type="button" class="btn btn-success" (click)="getImageFromService()">Get Image</button>
<img [src]="imageToShow"
     alt="Place image title"
     *ngIf="!isImageLoading; else noImageFound"
     >
<ng-template #noImageFound>
     <img src="fallbackImage.png" alt="Fallbackimage">
</ng-template>
</div>