
    <style>   
        Body {  
          font-family: Calibri, Helvetica, sans-serif;  
          background-color: rgb(255, 13, 53);  
        }  
        button {   
               background-color: #4CAF50;   
                color: rgb(250, 250, 250);   
                padding: 15px;   
                margin: 10px ;   
                border: none;   
                cursor:pointer; 
                border-radius: 10px;
                 }   
         form {   
                border: 3px solid #f8f8f8;   
            }   
         input[type=text], input[type=password] {   
                width: 100%;   
                margin: 8px 0;  
                padding: 12px 20px;   
                display: inline-block;   
                border: 2px solid green;   
                box-sizing: border-box;  
                border-radius: 20px;   
            }  
       
         .container {   
                padding: 25px;   
                background-color: lightblue;  
                border-radius: 20px;  
            }   
        </style>   
           
          
             <h1> Student Login Form </h1>   
              
                <div class="container">   
                    <label>Username : </label>   
                    <input type="text" placeholder="Enter Username" name="username" required>  
                    <label>Password : </label>   
                    <input type="password" placeholder="Enter Password" name="password" required>  
                    <button type="submit">Login</button>   
                      
                </div>   
             
             

